<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> -- Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    #navbar {
      margin-top: 10px;
      background: #0000FF;
      height: 55px;
      border-radius: 15px;
    }
    #navbar ul {
      list-style-type: none;
      margin: 0px;
      padding: 10px;
      font-size: 0.90em;
    }
    #navbar ul li {
      display: inline;
      float: left;
      margin-right: 10px;
    }
    #navbar ul li a {
      display: block;
      color: white;
      padding: 10px;
      border-radius: 15px;
    }
    #navbar ul li a:hover {
      color: yellow;
      background: #0077FF;
    }
    #whoops {
      margin-top:50px;
    }
    #wo-text {
      float: left;
      width: 50%;
    }
    #wo-img {
      width: 40%;
      margin-left: auto;
    }
    </style>
  </head>
  <body>
    <div id="header">
      <img src="/images/sm-trnsprnt-for-lght-bkgrnd.png" height="50px"/>
      <span id="signin">Welcome, Joe</span>
    </div>
    <div id="navbar">
      <ul>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/bv_buzz">BV Buzz</a></li>
        <li><a href="/deauth">De-Authorize</a></li>
        <li></li>
      </ul>
    </div>
    <div id="whoops">
      <div id="wo-text">
        <h1>Hmm.  Something didn't go as planned.</h1>
        <p>(error message goes here)</p>
      </div>
      <div id="wo-img">
        <img src="/images/thumbs-down.jpg" height="200px"/>
      </div>
    </div>
  </body>
</html>